Port				22
Protocol			2
HostKey				/etc/ssh/ssh_host_rsa_key
LoginGraceTime			1m
ChallengeResponseAuthentication	no
ClientAliveInterval		60
ClientAliveCountMax		3
UseDNS				no
MaxStartups			4:25:12
Subsystem	sftp		/usr/libexec/sftp-server
Banner				/etc/banner
